@model List<RouteModel>

@{
    ViewData["Title"] = "Routes";
}

<h1>Routes</h1>
<a asp-action="Create" class="btn btn-primary">Add New Route</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">direction</th>
            <th scope="col">distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
                <tr>
                    <th scope="row">@route.id</th>
                    <td>@route.direction</td>
                    <td>@route.distance</td>
                          <td>
                                            <a asp-action="Delete" asp-route-id="@route.id" class="btn btn-danger">Delete</a>
                                    </td>
                </tr>
        }
    </tbody>
</table>
